body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}
/*--------------------------------------*/

ul.menu {
  list-style: none;
  margin: 20px;
  padding: 0;
}

ul.menu > li {
  float: left;
  margin: 0 20px;

}

ul.menu > li > a {
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(109, 109, 238);
  text-decoration: none;
  transition: all .2s;
  position: relative;
  display: block;
  background-color: #fff;
  top: 0;
  padding:10px;
}

ul.menu > li > a:hover {
  top: 10px;
  box-shadow: 1px 1px 6px #666;
  transform: rotate(10deg);
}
